
<table class="table">
  <thead>
    <tr>
      <th width="60%">Project Name</th>
      <th class="text-center">Amount Collected</th>
      <th class="text-center">Amount Remaining</th>
    </tr>
  </thead>
  <tbody>
    <% Project.all.each do |project| %>
      <tr>
        <td><%=link_to project.name.truncate(200), project_payments_path(project) %></td>
        <td><span class="pull-right"><%= number_to_currency project.total_payments %></span></td>
        <td><span class="pull-right"><%= number_to_currency project.remaining_payments %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
