<div class="col-md-12">
<div class="box box-solid">
<div class="box-header with-border">
<h4>Issued Inventories</h4>
</div>
<div class="box-body">
<div class="row">
<div class="col-md-7">
            <table class="table table-compressed table-hover">

                   <thead>
                            <tr>
                                <th style="width: 20%">Issued To</th>
                                <th style="width: 30%">Inventory Name</th>
                                <th>Quantity</th>
                                <th><span class="pull-right">Unit Cost</span></th>
                                <th><span class="pull-right">Total Cost</span></th>
                                <th style="width:60px"></th>
                              </tr>
                            </thead>
                            <tbody>
                            <% if @issued_inventories.present? %>
                               <% @issued_inventories.each do |issued_inventory| %>
                                <tr>
                                  <td><%=issued_inventory.inventoriable_id %></td>
                                  <td><%= issued_inventory.inventory %></td>
                                </tr>
                               <% end %>
                            <% end %>
                            </tbody>
                            </table>
                            </div>
                            <div class="col-md-5">
                                <%= render 'form' %>

</div>
</div>
              </div>
        </div>
    </div>
</div>
</div>
</div>
