    <div class="container">
      <div class="box">
      <div class="box-header">
      <h3>List of Inventories
               <span><%=link_to new_issued_inventory_path, class: "btn btn-link bg-blue-active pull-right" do %><i class="fa fa-plus-circle"></i> Issue Inventory <%end%></span>

          </div>
          <hr>

          <div class="box-body">
                  <% @inventories.each do |inventory| %>
                    <h5><%= link_to inventory.name.upcase, inventory %>
                      <span class="pull-right"><%= inventory.quantity %> <%= inventory.unit %></span>
                    </h5>
                    <hr />
                  <% end %>
                </div><!-- /.description-block -->

