<div class="row">
<div class="col-md-5 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-gray-active">
      <h3 class="widget-user-username"><%=@inventory.name.upcase %></h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
                <%=@inventory.name %>
</div>
</div>
</row>
