<div class="tab-pane" id="cash_advances">

<%=link_to "New Cash Advance", new_employee_cash_advance_path(@employee) %>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Status </th>
    </tr>
  </thead>
  <tbody>
<% @employee.cash_advances.each do |cash_advance| %>
<tr>

<td><%=number_to_currency cash_advance.amount %></td>
<td><%=cash_advance.date_disbursed.strftime("%b %e, %Y") %></td>
<td><%=cash_advance.status %></td>
</tr>

<% end %>
</tbody>
</table>
</div>
