<div class="tab-pane" id="projects">
	<div class="box-header with-border">
		<h4>Assigned Projects (<%=@employee.projects.count %>) </h4>
	</div>
	<div class="box-body">
		<% @employee.projects.each do |project| %>
			<h4><%=link_to project.name, project %></h4>
			<hr>
		<% end %>
	</div>
</div>
