<div class="row">
<div class="col-md-10">
<div class="box box-solid">
  <div class="box-body">
  <div  class="col-md-8">
  COntent
  </div>
  <div class="col-md-4">
  Form
  </div>
</div>
</div>
</div>
