<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
          <div class="row">
            <div class="col-md-1">
              <%=link_to monitoring_project_path(@project) do %>
                <span data-toggle="tooltip" data-placement="bottom" title="Back to Project"><i class="fa fa-angle-left fa-2x"></i></span>
              <% end %>
            </div>
            <div class="col-md-11">
              <h4 class="title">Subcontract Costs
                <span class="pull-right">
              <%=link_to "New Sub Contract Cost", new_monitoring_project_sub_contract_cost_path(@project), class: 'btn btn-primary' %>
</span>
</h4>
              </div>
    
        </div>
<hr>

      </div>
      <div class="content">
        <%=render @project.sub_contract_costs %>
      </div>
    </div>
  </div>
</div>
