<div class="col-md-8 col-md-offset-2">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">New Sub Contractor</h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
            <table class="table table-compressed table-hover">

                   <thead>
                            <tr>
                                <th style="width: 30%">Contractor</th>
                                <th style="width: 10%">Amount</th>

                              </tr>
                            </thead>
                            <tbody>
                            <% if @project.contracts.present? %>
                               <% @project.contracts.each do |contract| %>
                                <tr>
                                  <td><%=contract.contractor %></td>
                                  <td><b><%=contract.amount_subcontracted %></b></td>
                            <% end %>
                            <% end%>
                            </tbody>
                            </table>
                                <%= render 'form' %>


              </div>
        </div>
    </div>
</div>
</div>
</div>
