<div class="col-md-8 col-md-offset-2">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">New Work Accomplishment</h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>

                  <%= simple_form_for [@work_detail, @work_accomplishment] do |f| %>
                   <%=f.input :quantity %>
<div class="modal-footer">
<%=f.submit "Save Work Accomplishment", class: "btn btn-primary" %>
<%=link_to "Close",project_work_detail_path(@work_detail.project.id, @work_detail)%>

</div>
<% end %>
</div>

