<div class="row">
<div class="col-md-5 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">Projects<%=link_to "New Requirement", new_requirement_path, class: "btn btn-default pull-right" %></h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">

          <div>




            <% @requirements.each do |requirement| %>

            <h4><%= requirement.name %>
              <hr />
            <% end %>
          </div><!-- /.description-block -->
        </div><!-- /.col -->

          </div><!-- /.description-block -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div><!-- /.widget-user -->
</div><!-- /.col -->
</div>
