<div class="card">
	<div class="header">
		<h4 class="title">Repair and Maintenance
      <span class="pull-right"><%=link_to "New", new_supplies_equipment_item_path(@equipment), class: "btn btn-primary" %>
    </h4>
		<div class="row"><hr></div>
	</div>
	<div class="content">

	</div>
</div>
