<div class="tab-pane" id="taxes_licenses_and_insurance">
	<div class="header">
		<h4 class="title">Taxes, Licenses and Insurance</h4>
		<div class="row"><hr></div>
	</div>
	<div class="content">

	</div>
</div>
