<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
          <h4>List of Equipment
<span class="pull-right"><%=link_to "New Equipment", new_equipment_path, class: "btn btn-primary"%></span>
</h4>
</div>
    <div class="box-body">

        <table class="table table-hover">
          <thead>
            <tr class="text-uppercase">
              <th>Equipment</th>
              <th>Description</th>
              <th>Acquisition Cost</th>

            </tr>
          </thead>
          <tbody>
            <% @equipments.each do |equipment| %>
              <tr>
                <td><%= link_to equipment.make_and_model, equipment %></td>
                <td><%= equipment.plate_number %></td>
                <td><%= number_to_currency equipment.acquisition_cost %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      </div>
    </div>
  </div>
</div>

