<div class="col-md-12">
  <div class="card">
    <div class="row">
      <div class="col-md-1">
        <h1><a href="/equipment" data-toggle="tooltip" title="Return to Equipment Index"><i class="fa fa-angle-left"></i></a></h1>
      </div>
      <div class="col-md-11">
        <h4 class="text-info"><%=@equipment.make_and_model.upcase %></h4>
      </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li  role="presentation" class="active">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
      </li>
      <li  role="presentation">
        <a href="#work_details" aria-controls="work_details" role="tab" data-toggle="tab">Rent and Lease Payments</a>
      </li>
      <li role="presentation">
        <a href="#accomplishment" aria-controls="accomplishment" role="tab" data-toggle="tab"></i> Depreciation</a>
      </li>
      <li role="presentation">
        <a href="#contractors" aria-controls="contractors" role="tab" data-toggle="tab"></i> Repairs and Maintenace</a>
      </li>
      <li role="presentation">
        <a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab">Fuel and Lubrication</a>
      </li>
      <li role="presentation">
        <a href="#workers" aria-controls="inspection" role="tab" data-toggle="tab"></i> Taxes, Licenses and Insurance</a>
      </li>
    </ul>
    <div class="tab-content">

    </div>
   </div>
</div>
