<div class="row">
<div class="col-md-5 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active">
      <h3 class="widget-user-username"><%=@equipment.make_and_model.upcase %></h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
            <strong><i class="fa fa-rub margin-r-5"></i> Acquisition Cost</strong>
            <span class="text-muted pull-right"><%=number_to_currency @equipment.acquisition_cost %></span>

            <hr>
            <strong><i class="fa fa-rub margin-r-5"></i> Plate Number</strong>
            <span class="text-muted pull-right"><%= @equipment.plate_number %></span>

            <hr>
</div>
</div>
</row>
