

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Project</a></li>
  <li role="presentation"><a href="#">Equipment</a></li>
  <li role="presentation"><a href="#">Utilities</a></li>
  <li role="presentation"><a href="#">Overhead</a></li>

</ul>
