<div class="row">
  <div class="col-md-3">
    <label>Address</label>
    <%= f.input :sitio, label: false, placeholder: 'Sitio/Street' %>
  </div>
  <div class="col-md-3">
    <label>&nbsp</label>
    <%= f.input :barangay, label: false, placeholder: 'Barangay' %>
  </div>
  <div class="col-md-3">
    <label>&nbsp</label>
    <%= f.input :municipality, label: false, placeholder: 'Municipality' %>
  </div>
  <div class="col-md-3">
    <label>&nbsp</label>
    <%= f.input :province, label: false, placeholder: 'Province' %>
  </div>
</div>
