
<div class="container">
<div class="box box-solid">
<div class="box-header with-border">
<h4>User Access<span class="pull-right"><%=link_to "New Employee", new_user_path, class: "btn btn-primary" %></span></h4>
</div>
<div class="box-body">

<%@users.each do |user| %>
<div class="row">
<div class="col-md-2">
<%=link_to (image_tag attachment_url(user, :profile_photo, :fill, 150, 150, fallback: "default-small.png"),  class: "img-square"), user %>
<h4><center><%=link_to user.full_name.upcase %></center></h4>
<span class="text-muted"><center><%=user.try(:role).titleize %></center></span>
<br>
</div>
<% end %>
</div>
</div>




