<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Bank Account Details </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title">Bank Transactions </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <%=number_to_currency Account.find_by_name("Cash in Bank").balance %>
            BALANCE
          </div>
          <div class="col-md-6">
            <% Account.find_by_name("Cash in Bank").entries.each do |entry| %>
            <ul class="list-unstyled team-members">
              <li>
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-info pull-right"><i class="fa fa-clock-o"></i> <%=entry.date.strftime("%B %e, %Y") %></small><br>
                      <%=entry.description %>
                  </div>
                  <div class="col-md-4">
                    <%=number_to_currency entry.debit_amounts.sum(:amount) %>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
