<div class="tab-pane active" id="work_details_timeline">
        <ul class="timeline timeline-inverse">
        <%=link_to "Update Accomplishment", new_work_detail_work_accomplishment_path(@work_detail) %>
                   </ul>
<hr>
</div>
