<p class="title"> Stock Details</p>
<br>
<%= f.input :date, as: :string, input_html: {class: "datetimepicker"} %>
<div class="row">
  <div class="col-md-4">
    <%= f.input :quantity, input_html: { id: "stock_quantity", oninput: "calculate()" } %>
  </div>
  <div class="col-md-4">
    <%= f.input :unit_cost, placeholder: "Purchase Price", input_html: { id: "stock_unit_cost", oninput: "calculate()" } %>
  </div>
  <div class="col-md-4">
    <%= f.input :total_cost, input_html: { id: "stock_total_cost" }, readonly: true %>
  </div>
</div>
