<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-1">
            <%=link_to monitoring_project_path(@project) do %>
              <span data-toggle="tooltip" data-placement="bottom" title="Back to Project"><i class="fa fa-angle-left fa-2x"></i></span>
            <% end %>
          </div>
          <div class="col-md-11">
            <h4 class="title">Other Costs
              <span class="pull-right">
                <%=link_to monitoring_project_purchase_orders_path(format: "pdf"), target: '_blank', title: "View PDF" do %>
                  <span class="btn btn-info btn-sm btn-icon"><i class="fa fa-file-pdf-o"></i> View PDF </span>
                <% end %>
                <%=link_to "New other Cost", new_monitoring_project_other_cost_path(@project), class: 'btn btn-primary btn-icon', remote: true %>
              </span>
            </h4>
          </div>
        </div>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=render @project.other_costs %>
      </div>
    </div>
  </div>
</div>
<div id="other-cost-modal" class="modal fade"></div>
