<div class="container">
  <div class="box box-solid">
    <div class="box box-header">
      <h4>New Maintenace </h4>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-5">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#maintenance_equipment").select2({
      theme: "bootstrap"
    });
  });
</script>
<script>
  $(document).ready(function() {
    $("#maintenance_employee").select2({
      theme: "bootstrap"
    });
  });
</script>

