
<div class="col-md-12">
   <div class="card">
   <div class="row">
   <h4><%=@construction_equipment.make %></h4>
</div>
      <ul class="nav nav-tabs" role="tablist">

         <li  role="presentation" class="active">
           <a href="#balance_sheet" aria-controls="balance_sheet" role="tab" data-toggle="tab">Profile</a>
        </li>

        <li role="presentation">
           <a href="#depreciations" aria-controls="depreciations" role="tab" data-toggle="tab"></i> Depreciations</a>
        </li>

      <li role="presentation">
           <a href="#depreciations" aria-controls="depreciations" role="tab" data-toggle="tab"></i> Rent and Lease Payments</a>
        </li>
        <li role="presentation">
           <a href="#depreciations" aria-controls="depreciations" role="tab" data-toggle="tab"></i> Repairs and Maintenance</a>
        </li>

         <li role="presentation">
           <a href="#depreciations" aria-controls="depreciations" role="tab" data-toggle="tab"></i> Fuel and Lubrication</a>
        </li>
         <li role="presentation">
           <a href="#depreciations" aria-controls="depreciations" role="tab" data-toggle="tab"></i> Taxes, Licenses, and Insurance</a>
        </li>
         <li role="presentation">
           <a href="#depreciations" aria-controls="depreciations" role="tab" data-toggle="tab"></i> Equipment Costs Allocated</a>
        </li>
      </ul>

      <div class="tab-content">
      <%=render 'depreciations' %>
      <%=@construction_equipment.amount_after_depreciation %>
        <% @construction_equipment.images.each do |i| %>
    <span><%= attachment_image_tag(i, :file, :fill, 90, 90) %></span>
    <% end %>

      </div><!-- /.tab-content -->
   </div><!-- /.col -->
</div><!-- /.row -->
