
<div class="tab-pane" id="accomplishment">
 <div class="media">
   <div class="media-body">
   <table class="table table-hover">
   <%@project.work_accomplishments.each do |work_accomplishment| %>
   <%=work_accomplishment.work_detail.description %>
   <%=work_accomplishment.quantity %>

   <% end %>
   </table>
   </div>
 </div>
</div>
