
<div class="tab-pane" id="accomplishment">
 <%=link_to new_project_accomplishment_path(@project), class: "btn btn-success" do %><i class="fa fa-plus-circle"></i> Update Accomplishment <%end%>
 <hr /> 
 <div class="row">
 <% @project.accomplishments.each do |accomplishment| %>
             <div class="row">
            <div class="col-md-1 col-md-offset-1  col-sm-3 col-xs-3">
            <%#= image_tag attachment_url(accomplisment, :profile_image, :fill, 60, 60, format: "jpg", fallback: "default-small.png"),  class: "img-circle" %>
            </div>
            <div class="col-md-7 col-sm-9 col-xs-9">
            <h4><%=accomplishment.percent %>%
            <span class="pull-right">Recorded last <%=accomplishment.created_at.strftime("%B %d, %Y") %></span>
            </h4>
            </div>
            </div>
           <hr />
            <% end %> 
            </div>
</div>
