<div class="tab-pane" id="contractors">
  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box-header">
          <b class="text-muted">Project Details</b>
          <span class="pull-right"><%=link_to new_project_contract_path(@project), class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa-plus-circle"></i> New Contractor<%end%></span>
        </div>
        <div class="box-body">
          <h4>Project Amount: <span class="pull-right"><%=number_to_currency @project.cost %></span></h4>
          <hr>
          <h4 class="text-danger">Amount Subcontracted: <span class="pull-right"><%=number_to_currency @project.contracts.sum(:amount) %></span></h4>
          <hr>
          <h4>Remaining: <span class="pull-right"><%=number_to_currency @project.remaining_uncontracted_amount %></span></h4>
        </div>
      </div>
    </div>
  </div>
</div>


