<div class="tab-pane" id="expenses">
  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box box-header with-border">
          <h4>Materials</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box box-header with-border">
          <h4>Equipment</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box box-header with-border">
          <h4>Labor</h4>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box box-header with-border">
          <h4>Subcontract</h4>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box box-header with-border">
          <h4>Other Costs</h4>

        </div>
      </div>
    </div>
  </div>
  </div><!-- /.tab-pane -->
