<div class="tab-pane" id="expenses">
    <div class="row">
        <div class="col-md-12">
            <span><%=link_to new_project_equipment_cost_path(@project), class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa-plus"></i> Add Equipment Expenses<%end%></span>
        </div>
    </div>

  </div>
