<div class="tab-pane" id="settings">
<div class="row">
  <div class="col-md-3">
  <h5>Time Extensions</h5>
  </div>
  <div class="col-md-9">
  <span class="help-block">
   
  </span>
  <span><%=link_to "New Time Extension", new_project_time_extension_path(@project), class: "btn btn-danger pull-right" %>
  </span>
  <hr>
  </div>
  </div>
</div>
<hr>
</div><!-- /.tab-pane -->
