<div class="tab-pane" id="settings">
<div class="row">
  <div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-body">
  <i class="fa fa-wi-fi"></i> Wireless and Networks
  </div>
  </div>
  </div>
</div>
<hr>
</div><!-- /.tab-pane -->
