<div class="tab-pane" id="workers">
]
  <span class="pull-right"><%=link_to add_workers_project_path(@project), class: "btn btn-primary" do %><i class="fa fa-user-plus"></i> Add Workers <%end%>

 <% @project.workers.each do |worker| %>
            
            <%=worker.employee.try(:full_name)%>
            <% end %>
            </div>

 
 
