<div class="col-md-6 col-md-offset-3">
<div class="box box-solid">
<div class="box-body">
<h4>Add Workers to Project</h4>
<hr>
 <%= simple_form_for @project  do |f| %>

<%=f.input :item_ids, collection: CostCode::Item.all, as: :check_boxes %>
<%=f.submit "Add Cost Code Items" %>
</div>
<% end %>
</div>
</div>
</div>

