<div class="col-md-12">
  <div class="card">
    <div class="content">
      <%=link_to "New Project", new_project_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
    <%@projects.each do |project| %>
      <div class="col-md-4">
        <div class="card">
          <div class="header">
            <h4 class="title"><center><%=link_to "##{project.id_number_and_location}", project %></center></h4>
            <hr>
          </div>
          <div class="content">
            <p class="text-uppercase"><%=link_to project.name, project %></p>
          </div>

            <center><%=link_to "View Project", project_path(project), class: "btn btn-primary img-rounded" %></center>
        <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
