
<div class="container">
<div class="row">
<%@projects.each do |project| %>
<div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-solid">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header">

                </div>
                <div class="widget-user-image">

                </div>
                <div class="box-body">
                <h3><center><%=link_to "##{project.id_number}", project %></center></h3>
<p class="text-uppercase"><%=link_to project.name, project %></p>
 <br>
 <br>
 <center><%=link_to "View Project", project_path(project), class: "btn btn-primary img-rounded" %></center>
<hr>

                </div>

              </div><!-- /.widget-user -->

            </div><!-- /.col -->

<% end %>
</div>
</div>


