<footer class="footer">
           <div class="container-fluid">
               <nav class="pull-left">
                   <ul>

                       <li>
                           <a href="http://www.creative-tim.com">
                               Kiphodan Technologies, Inc.
                           </a>
                       </li>
                       <li>
                           <a href="http://blog.creative-tim.com">
                              Help
                           </a>
                       </li>
                       <li>
                           <a href="http://www.creative-tim.com/license">
                               Licenses
                           </a>
                       </li>
                   </ul>
               </nav>
               <div class="copyright pull-right">
                   &copy; <%=Time.zone.now.year %>, Alfalfa Construction
               </div>
           </div>
       </footer>
