
<div class="row">
  <div class="col-md-6">
    <%=form_tag monitoring_contractors_path, method: :get do %>
      <div class="input-group stylish-input-group">
        <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search for a Contractor' %>
        <span class="input-group-addon">
          <button type="submit">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%=link_to new_monitoring_contractor_path, title: "New Contractor", remote: true do %>
      <span class="btn btn-primary btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Contractor"><i class="fa fa-user-plus"></i> New Contractor </span>
    <% end %>
  </div>
</div>
<div class="content ">
  <%= render 'index' %>
</div>
<div id="contractor-modal" class="modal fade"></div>
