<%= simple_form_for [@project, @attachment] do |f| %>
	<div class="col-md-8 col-md-offset-2">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h4>New Attachment</h4>
			</div>
			<div class="box-body">
				<div class="col-md-8 col-md-offset-2">
					<br>
					<br>
	        <%= f.file_field :attachment_file %>
	        <br>
	        <%= f.input :description, as: :text %>
	      </div>
			</div>
			<div class="box-footer">
				<%= f.submit 'Save Attachment', class: 'btn btn-primary pull-right' %>
			</div>
		</div>
	</div>
<% end %>