<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">New Work Detail</h4>
      <div class="row"><hr></div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <div class="box-header with-border">
          </div>
          <table class="table table-hover">
            <thead>
              <tr class="text-uppercase">
                <th>Description</th>
                <th><span class="pull-right">Cost</span></th>
              </tr>
            </thead>
            <tbody>
              <% if @project.work_details.present? %>
                <% @project.work_details.each do |work_detail| %>
                  <tr>
                    <td><%= work_detail.description.try(:truncate, 80) %></td>
                    <td><span class="pull-right"><%=number_to_currency work_detail.total_cost %></span></td>
                  </tr>
                <% end %>
                <tr>
                  <td><h5 class="title pull-right">Total Cost: </h5></td>
                  <td><h5 class="pull-right"><%= number_to_currency @project.work_details.total%></h5></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
