<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
      <div class="box-header">
        <h4 class="text-center">Equipment Depreciation Details</h4>
        <hr>
      </div>
      <div class="box-footer">
         <%= simple_form_for [@construction_equipment, @depreciation], html: { class: 'form-horizontal' }, wrapper: :horizontal_form,
                  wrapper_mappings: {
                  check_boxes: :vertical_radio_and_checkboxes,
                  radio_buttons: :horizontal_radio_and_checkboxes,
                  file: :horizontal_file_input,
                  boolean: :horizontal_boolean } do |f| %>
            <%=f.error_notification %>
<h4>Depreciation:</h4>
                <%=f.input :amount %>

            <div class="modal-footer">
              <%=f.submit "Save Depreciation", class: "btn btn-primary btn-flat bg-blue-active" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



