<div class="col-md-8 col-md-offset-2">
	<iframe src="http://docs.google.com/viewer?url=http://192.168.254.100:300<%= @attachment_file.attachment_report.path %>&embedded=true" width="100%" height="984" >
	<p>Your browser does not support iframes.</p>
	</iframe>
</div>