<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Labor Costs
          <span class="pull-right">
            <%=link_to monitoring_project_purchase_orders_path(format: "pdf"), target: '_blank', title: "View PDF" do %>
              <span class="btn btn-info btn-sm btn-icon"><i class="fa fa-file-pdf-o"></i> View PDF </span>
            <% end %>
            <%=link_to "New Labor Cost", new_monitoring_project_labor_cost_path(@project), class: 'btn btn-primary btn-icon', remote: true %>
          </span>
        </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Employee</th>
              <th>Rate</th>
              <th>Number of Days</th>
              <th>Total Cost</th>
            </tr>
          </thead>
          <tbody class="labor-cost-index">
            <%=render 'index' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="labor-cost-modal" class="modal fade"></div>