.card-danger {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #D8A591;
  color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.card-danger .image {
  width: 100%;
  overflow: hidden;
  height: 260px;
  border-radius: 6px 6px 0 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card-danger .image img {
  width: 100%;
}
.card-danger .content {
  padding: 15px 15px 10px 15px;
}
.card-danger .header {
  padding: 20px 20px 0;
}
.card-danger .description {
  font-size: 16px;
  color: #66615b;
}
.card-danger h6 {
  font-size: 12px;
  margin: 0;
}
.card-danger .category,
.card-danger label {
  font-size: 14px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}
.card-danger .category i,
.card-danger label i {
  font-size: 16px;
}
.card-danger label {
  font-size: 15px;
  margin-bottom: 5px;
}
.card-danger .title {
  margin: 0;
  color: #252422;
  font-weight: 300;
}
.card-danger .avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.card-danger .footer {
  padding: 0;
  line-height: 30px;
}
.card-danger .footer .legend {
  padding: 5px 0;
}
.card-danger .footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-danger .stats {
  color: #F2F1ED;
  font-weight: 300;
}
.card-danger .stats i {
  margin-right: 2px;
  min-width: 15px;
  display: inline-block;
}
.card-danger .footer div {
  display: inline-block;
}
.card-danger .author {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-danger .author i {
  font-size: 14px;
}
.card-danger.card-danger-separator:after {
  height: 100%;
  right: -15px;
  top: 0;
  width: 1px;
  background-color: #DDDDDD;
  content: "";
  position: absolute;
}
.card-danger .ct-chart {
  margin: 30px 0 30px;
  height: 245px;
}
.card-danger .table tbody td:first-child,
.card-danger .table thead th:first-child {
  padding-left: 15px;
}
.card-danger .table tbody td:last-child,
.card-danger .table thead th:last-child {
  padding-right: 15px;
}
.card-danger .alert {
  border-radius: 4px;
  position: relative;
}
.card-danger .alert.alert-with-icon {
  padding-left: 65px;
}
.card-danger .icon-big {
  font-size: 3em;
  min-height: 64px;
}
.card-danger .numbers {
  font-size: 1.5em;
  text-align: right;
}
.card-danger .numbers p {
  margin: 0;
}
.card-danger ul.team-members li {
  padding: 10px 0px;
}
.card-danger ul.team-members li:not(:last-child) {
  border-bottom: 1px solid #F1EAE0;
}

.card-danger-user .image {
  border-radius: 8px 8px 0 0;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.card-danger-user .image img {
  width: 100%;
}
.card-danger-user .image-plain {
  height: 0;
  margin-top: 110px;
}
.card-danger-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -65px;
}
.card-danger-user .author .title {
  color: #403D39;
}
.card-danger-user .author .title small {
  color: #ccc5b9;
}
.card-danger-user .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}
.card-danger-user .avatar.border-white {
  border: 5px solid #FFFFFF;
}
.card-danger-user .avatar.border-gray {
  border: 5px solid #ccc5b9;
}
.card-danger-user .title {
  font-weight: 600;
  line-height: 24px;
}
.card-danger-user .description {
  margin-top: 10px;
}
.card-danger-user .content {
  min-height: 200px;
}
.card-danger-user.card-danger-plain .avatar {
  height: 190px;
  width: 190px;
}

.card-danger-map .map {
  height: 500px;
  padding-top: 20px;
}
.card-danger-map .map > div {
  height: 100%;
}

.card-danger-user .footer,
.card-danger-price .footer {
  padding: 5px 15px 10px;
}
.card-danger-user hr,
.card-danger-price hr {
  margin: 5px 15px;
}

.card-danger-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
.card-danger-plain .image {
  border-radius: 4px;
}