<div class="card">
  <div class="header">
    <%= @project.name %>
    <%=link_to "View Summary (PDF)", monitoring_project_path(@project, format: 'pdf'), class: "btn btn-default btn-sm" %>
  </div>
  <div class="content">

  </div>
</div>
