<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>CAS v1.0</b>
  </div>
  <strong>Copyright &copy; <%=Time.zone.now.year%> <a href="http://facebook.com/itworx">KIPHODAN</a></strong>
</footer>
