<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Project Monitoring System</b>
  </div>
  <strong>Copyright &copy; <%=Time.zone.now.year%> <a href="http://facebook.com/itworx">ALFALFA CONSTRUCTION</a></strong>
</footer>
