<div class="custom-nav-container">
<nav class="navbar navbar-default">
    <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">ALFALFA</a>
    <span></span>

  </div>
 
   
  <div class="collapse navbar-collapse js-navbar-collapse">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav navbar-nav">
   
        <li class="dropdown mega-dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> &nbsp; Create<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
          
          <ul class="dropdown-menu mega-dropdown-menu row">
            

            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Projects</li>
                <li><a href="/projects/new">Add New Project</a></li>
                <li><a href="#">Receive Payment</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Project Report</li>
                <li><a href="#">Summary</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Expenses</li>
                <li><a href="/expenses/new">New Expense</a></li>
                <li><a href="#">Refund Receipt</a></li>
                <li><a href="#">Cash Advance</a></li>
                 <li><a href="#">Pay Bills</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Contractors</li>
                <li><a href="#">New Contractor</a></li>
                <li><a href="#">Expense</a></li>
                <li><a href="#">Bill </a></li>
                <li><a href="#">Material Request </a></li>             

                </ul>
                </li>
                <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Accounts</li>
                <li><a href="#">Journal Entry</a></li>
                <li><a href="#">Bank Account</a></li>
                <li><a href="#">Chart of Accounts</a></li>
                <li><a href="#">Income Statement</a></li>  
                      


                </ul>
                </li>
                </ul>
      </ul>
<div>
      <%=form_tag result_index_path, class: 'nav-search', method: :get do %>
        <div class="input-group">
          <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search for Projects, Contractors, Employees...' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: "btn btn-flat btn-default") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">

    </div>
  </div>
    </div>
  </div><!-- /.nav-collapse -->
</nav>

</div>
