<div class="col-md-12">
 <div class="input-group-btn">
 <div class="col-md-8">
                      
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="fa fa-caret-down"></span></button>
                      
                      <ul class="dropdown-menu">
                      <div class="col-md-12">
                      <div class="box box-primary">
                      <div class="box-body">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                          </div>
                      </div>
                      </ul>
                    
                      </div>
                    </div><!-- /btn-group -->
</div>
