<div class="container">
<div class="box box-solid">
  <div class="box-body">
  <table>
    <% @accounts.each do |account| %>
    <tr>
    <td><%=link_to account.name, account %></td>
     </tr>
    <% end %>
</table>
  </div>
</div>
</div>
