
<div class="col-md-12">
   <div class="card">

      <ul class="nav nav-tabs" role="tablist">

         <li  role="presentation" class="active">
           <a href="#balance_sheet" aria-controls="balance_sheet" role="tab" data-toggle="tab">Balance Sheet</a>
        </li>

        <li role="presentation">
           <a href="#income_statement" aria-controls="income_statement" role="tab" data-toggle="tab"></i> Income Statement</a>
        </li>

        <li role="presentation">
           <a href="#general_ledger" aria-controls="general_ledger" role="tab" data-toggle="tab"></i> General Ledger</a>
        </li>


      </ul>

      <div class="tab-content">
        <%=render 'balance_sheet' %>
        <%=render 'income_statement' %>
        <%=render 'general_ledger' %>
      </div><!-- /.tab-content -->
   </div><!-- /.col -->
</div><!-- /.row -->
